$--body-background: #f3f3f3;
$--profile-background-color: #fff;
$--max-page-width: 41.5rem;
$--base-page-border-radius: 2.5rem;
$--base-page-vertical-padding: 1rem;
$--base-page-horizontal-padding: 4.5rem;
$--layout-container-bottom-padding: 4.5rem;
$--font-poppins: "Poppins";
$--font-semibold: 600;
$--font-bold: 700;
$--button-padding: 0.5rem 1.875rem;
$--primary: #78c4cb;
$--primary-dark: #1096a5;
$--light-gray: #cacaca;
$--white: #fff;
$--black: #000;
